#slider-703 .wd-slide {
	min-height: 430px;
}

@media (max-width: 1024px) {
	#slider-703 .wd-slide {
		min-height: 300px;
	}
}

@media (max-width: 768px) {
	#slider-703 .wd-slide {
		min-height: 170px;
	}
}
